@font-face {
    font-family: "Umar";
    src: url(./Poppins-Regular.ttf);
}

h1 {

    /* 
    text-shadow: FirstVal(Left-Right) SecondVal(Top-Bottom)
     ThirdVal(Amount of Blur) Fourth(Shadow Color) ;
    */
    /* text-decoration: blink; */
    text-shadow: 0px 0px 5px red;

    /* letter-spacing: 30px; */
    /* font-size: 200%;
    font-family: "Umar"; */
}


p {
    /* font-family: "Bitcount Prop Double", system-ui; */
    font-optical-sizing: auto;
    /* text-indent: 70px; */
    /* text-align: justify; */
    /* line-height: 50px; */
    /* word-spacing: 50px; */
    text-transform: capitalize;
    font-weight: 100;
    font-style: inherit;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

p::first-line {
    color: cadetblue;
    background-color: burlywood;
    font-size: 32px;
}


/* .spanClass::first-letter {
    font-size: 200px;
} */