/* color terminlogies */
                       
/* 1) r = red g = green b=blue values  ==> rgb(255,81,34)  */

/* 2) hex codes   #ffffff */

/* 3) color name */ 

/* h1{
    color:#ffffff99;
    opacity: 0.5;
    background-color: black;
} */

h1{
    font-family:monospace,sans-serif,'Times New Roman';
}

p{
    font-family:monospace,sans-serif,'Times New Roman';
    font-size: 60px;
}
